*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: rgb(50, 50, 50);
}
.container{
    max-width: 1660px;
    margin: 0 auto;
    width: 100%;
    padding:  0 40px;
}
.navbar .content {
    background-color: #222;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 0 10px #fc0;
    gap: 25px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.nav-item:hover a {
    border-bottom: 2px #fc0 solid;
    text-shadow: #fc0 1px 0 10px;
    box-sizing: border-box;
    transition: ease .5s;
    font-size: 18px;
}

.logo {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 8px;
    font-size: 32px;
    padding: 10px 25px;
    text-shadow: #fc0 1px 0 10px;
    border: 1px solid #fc0;
    border-radius: 5px;
    box-shadow: 1px 0 10px #fc0;
}

a {
    text-decoration: none;
    color: white;
}

.card {
    background-color: #222;
    margin: auto;
    width: 70%;
    margin-top: 40px;
    box-shadow: 1px 0 10px #fc0;
    padding: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about {
    color: white;
    text-shadow: rgb(255, 222, 88) 1px 0 10px;
    font-size: 160%;
    margin: 24px 24px 4px 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tag {
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: white 1px 0 10px;
}

.text {
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;
}

.text:hover {
    text-decoration: underline;
    text-decoration-color: #fc0;
}

.card2 {
    background-color: #222;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 1px 0 10px rgb(0, 125, 255);
    padding: 30px;
    display: flex;
    border-radius: 5px;
}

.icon-items {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.item {
    width: 80px;
    height: 80px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    box-shadow: inset rgb(0, 125, 255) 5px 3px 7px;
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-shadow: rgb(0, 125, 255) 1px 0 10px;
    font-weight: 800;
    cursor: pointer;
}

.card3 {
    background-color: #222;
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    box-shadow: 1px 0 10px rgb(0, 125, 255);
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-shadow: rgb(0, 125, 255) 1px 0 10px;
    border-radius: 5px;
}

.card4 {
    background-color: #222;
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    box-shadow: 1px 0 10px rgb(0, 255, 0);
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-shadow: rgb(0, 255, 0) 1px 0 10px;
    border-radius: 5px;
}

.card5 {
    background-color: #222;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 1px 0 10px rgb(0, 255, 0);
    padding: 30px;
    display: flex;
    border-radius: 5px;
}

.contact-icon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-item {
    width: 80px;
    height: 80px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    box-shadow: inset rgb(0, 255, 0) 5px 3px 7px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-shadow: rgb(0, 255, 0) 1px 0 10px;
    font-weight: 800;
    cursor: pointer;
}

img {
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: rgb(0, 255, 0) 1px 0 10px;
    font-weight: 800;
    letter-spacing: 2px;
}

@media(max-width: 500px){
    .icon-items .item{
        width: 80px;
        height: 80px;
    }
}